@font-face {
    font-family: "#{$mdi-font-name}";
    src: url("#{$mdi-font-path}/#{$mdi-filename}-webfont.woff2?v=#{$mdi-version}") format("woff2"),
        url("#{$mdi-font-path}/#{$mdi-filename}-webfont.woff?v=#{$mdi-version}") format("woff");
    font-weight: normal;
    font-style: normal;
}
